[2017-02-24 04:47] Hobolandjacob opened #1 "Not really a issue -- Suggestion"
removing the he2 banner at the top would be amazing lol plus it gets in the way if browser is small

[2017-02-24 15:37] fkapitalism commented on #1
Yeah, that banner is really annoying. The problem doing that is the bot just starts to run after all DOM elements are loaded. I mean it's purposely a little bit slow. So, the bot can't remove the banner without it seems like kinda flasher. Hey, I've seen your work at your repo. Good job.

[2017-02-25 13:27] MentalMushrooms opened #2 "Issue/Suggestion"
_**Issue/Suggestion**_

In the bot, I think the WebCrawler is kinda _broken_.
Why do I say this?
In the section "Starting by these Hosts" You put in the IP/IP's You want to hack with the programs and such right?
But instead, whenever I place in **ONE** IP Address, ( Or multiple addresses) it hacks the IP... Then goes on to hack **ALL** of the previous IP's you have **ALREADY** hacked. And I don't

[2017-02-25 16:24] Sensaze opened #3 "Doesn't Clear Logs when Mission Bot"
When you're using the mission bot, it doesn't clear the logs from the banks you login to or after you make transactions. Plus you should add a stage in that always logs into the second account you transfer, cracks it and transfers all the funds to your own account.

[2017-02-25 16:26] MentalMushrooms commented on #3
Im currently using the bot, will try this out when i have better software. Will see if this is a problem.
@Sensaze

[2017-02-25 16:27] Sensaze commented on #3
Most other functions work fine, this is the only issue I've came across, the missions complete very quickly and it works smoothly, but it just doesn't clear logs after logging in and after making transactions.

[2017-02-25 17:28] Sensaze commented on #3
I've noticed actually it does clear the logs, but right at the end, that gives plenty of time for people to get your IP, it should clear the logs instantly after a login to the account, then after a transfer and then the transfer from the other bank IP.

[2017-02-25 17:37] MentalMushrooms commented on #3
Yes, that is the case. I have been doing bank check missions 4 times and once I got stolen £500.
It should be done in a more safe way. I agree with that.
@fkapitalism Consider implementing a new way to make log edits during bank operations.

[2017-02-25 18:36] fkapitalism commented on #2
Hey Mushy. Thanks for the feedback. I know you are an old partner of this project.

1 - I have an idea to solve the problem of ignoring IPs that were previously checked. The WebCrawl will automatically insert the IP into the "Ignore these ips" field as soon as the bot logins the server.

2 - The bot pops up again after the instruction is done. This behavior was added for usability reasons. People

[2017-02-25 19:05] fkapitalism commented on #3
To clean logs implies to login the server and then submitting the clean logs. This takes too much time. The algorithms paths was written to balance safety and performance. So sometimes the bot chooses performance instead of take too much time cleaning logs repeatedly.

Anyway there is a mechanism to protect your earned money against account theft: always use the checkbox "Transfer the earned money

[2017-02-25 19:08] MentalMushrooms commented on #3
Oh, that is what it was for, I didn't realize it was for missions.

[2017-02-25 19:11] MentalMushrooms commented on #2
Yes indeed, I was a frequent supporter for the bot whenever it was released.
These 2 solutions are viable.
Im still a little bit confused with the WebCrawler though.
I'll look into more detail with it asap and report back if there are some things iffy with it.

[2017-02-25 19:16] Sensaze commented on #3
@fkapitalism until someone hacks into your IP and sees your BTC key before the bot clears your logs.. This bot is meant for AFK use, someone will be able to crack your IP and monitor your logs for the transfer..

[2017-02-25 19:24] MentalMushrooms opened #4 "Fill me in."
Being a frequent user of this bot, I had died down in the community after round 7 because I simply didn't want to play anymore.
But now after the insane improvements to this bot, I am happy to re-test it thoroughly, therefore I am quite new to this updated version of the bot.
And 2 of these features are _WebCrawler_ and _Intercepting Bank Transactions_.
I have been studying WebCrawler a bit, but I

[2017-02-25 19:35] fkapitalism commented on #3
@Sensaze The game doesn't generate logs for BTC transactions. It happens only when you login the BTC wallet.

Anyway the game is naturally unsafe. Everything leave logs. Eventually someone is gonna invade your server. BUT even for that, the bot gives you a mechanism: "Notify me about suspect activity on my logs" checkbox.

[2017-02-25 19:41] Sensaze commented on #3
@fkapitalism alright well could you add a feature so that it transfer the money from the account you transfer it too? Cause sometimes there's between 1-3k in there, so if you do a transfer mission for 2.9k and get all the loot from the last bank account of say 3k you've made 6k same as a ddos attack mission

[2017-02-25 19:55] fkapitalism commented on #3
@Sensaze Currently the bot does that. But you have to have account on that bank.

[2017-02-25 20:23] fkapitalism commented on #4
It's because of people like you that bot reached these insane improvements. Thanks for your disposition.

Let me try to make an overview on that features:

1 - Intercept Bank Transactions:
This is a simple one. You can choose a bank which you have an account in. Then the bot listen the bank logs waiting for transactions. So the bot steal money from these accounts which money is being transfered to

[2017-02-25 20:48] MentalMushrooms commented on #4
Thank you for the response.
I will re-open this topic if I find anything or in the future need more info on some new gadgets.
Stay Mushy.

- _**Mushy**_

[2017-02-25 21:00] MentalMushrooms commented on #3
@fkapitalism What are the benefits of running multiple tabs with the bot?
It first off will create a bit of lag on the background tab since it is well... ( In the background ).
Also, how can the 2 tabs be used?
Will this Multi-tab Function give more risk of getting banned?

[2017-02-25 21:22] fkapitalism commented on #3
@MentalMushrooms The last commit called " Background script modified to work with multiple tabs" was deployed to fix a problem that was making tabs interfere each other. But it's kinda impractical use multiple tabs to play for two reasons:
1 - When a tab is inactive the scripts stops to handle time events. (This is critical for the bot)
2 - The HE works in a way that it avoids being logged in mult

[2017-02-25 23:24] MentalMushrooms opened #5 "Medium Level Mission Security Bug"
_**Medium Level Mission Security Bug**_

**Security Improvement:** After transferring all money from the bank to your account, close the bank, making it **_100% Untraceable and Unhackable._**
This would be most effective to "Sort of" **Defend** yourself from Bank Transaction Watchers if they are slow.
**Consider implementing this.**

( EDIT: I haven't tried Bank Transfer Missions, so I don't yet k

[2017-02-25 23:27] #4 closed

[2017-02-26 02:30] fkapitalism commented on #5
I've watched the bot running and actually it closes the bank after the cleaning of logs. But it happens too quickly that it's hard to notice.

[2017-02-26 02:31] fkapitalism commented on #2
@MentalMushrooms  Your suggestions were implemented. Check it out please.

[2017-02-26 09:50] MentalMushrooms commented on #5
Oh, that's alright then, it's just closing the account too fast for my eyes to register lol.

[2017-02-26 09:50] #5 closed

[2017-02-26 09:51] MentalMushrooms commented on #2
Will check it now.

[2017-02-26 09:58] MentalMushrooms opened #6 "Possibilities?"
**_https://github.com/fkapitalism/hexperience_**

That has me interested, how well does it **combine** with this **Hexbot**?
I'm hoping to get a reply from @fkapitalism since he ( _I assume_ ) knows a bit about this Helper thing.
Is it useful in any way?
What features does it have that Hexbot doesn't?
Is it (In theory) safer than HexBot?

Please Reply

- _**Mushy**_

[2017-02-26 10:25] MentalMushrooms opened #7 "Little Tweak Please"
**_Little Tweak _Please_**

This isn't _necessarily important_ to the bot, but it will make it a bit more _**Stylish...**_ ( In my opinion )
Let me explain.  **_( READ THE PICTURES FROM 1-4 )_**

![screenshot_1](https://cloud.githubusercontent.com/assets/17526514/23338839/c77324b4-fc0c-11e6-88ba-72cb6de76a94.png)
![screenshot_2](https://cloud.githubusercontent.com/assets/17526514/23338842/cd9b4ccc

[2017-02-26 12:26] MentalMushrooms opened #8 "Software In Files."
**_Software In Files._**

Software in Files is becoming a bit more used in HE To get stuff organized.
Recently, I have been using this organization method to help me organize.
I ran WebCrawler on the First Puzzle IP Address to upload a software. Decent Spam.vspam:2.0
This Spam File was in a folder called "Other Stuff" ( not really necessary ) And it was un-hidden and able to use.
So I ran the Craw

[2017-02-26 15:55] MentalMushrooms opened #9 "Save Feature"
Make a save feature for the settings, like a file or something in the system that you can edit yourself maybe.

[2017-02-26 16:07] MentalMushrooms commented on #9
P.S: I still havebnt been able to see the bot closing the bank, try looking over the code to make sure it is actually closing it.

[2017-02-26 16:51] MentalMushrooms opened #10 "Nmap"
**_Nmap_**

Nmap's are now **_more useful_** than ever and **many** people use them on HE.
Now, for people who don't have Nmap's, don't worry, you'll get one soon enough.
It would be _nice_ to have a feature involving Nmap's. Here is what I'm thinking... upload a Nmap to an IP, Run it, Hide it, Delete Logs, Download Nmap Scan File, Delete File, Delete Logs, Delete Personal Logs.
This _probably_ is

[2017-02-26 16:51] fkapitalism commented on #6
That's is an tampermonkey script. I was looking at its functionalities just for curiosity. There are awesome functionalities there for managing IPs. It is pretty safe btw.

[2017-02-26 16:57] MentalMushrooms commented on #2
@fkapitalism Love the new popup instruction.

Still testing out the WebCrawler.

[2017-02-26 16:57] fkapitalism commented on #7
I got the idea. Thanks a lot for the feedback.
I going to code that today.

[2017-02-26 17:03] fkapitalism commented on #8
Yeah. This is a little bit tricky. But I'll try to implement. This isn't a promess, ok?

[2017-02-26 17:08] fkapitalism commented on #9
@MentalMushrooms I would like to use a storage or something to save the bot state. But this is unsafe once the data would be available to others scripts. I mean, it would make the bot trackable. :(

Ok. I'll double check the code to see the bank issue.

[2017-02-26 17:20] fkapitalism commented on #10
@MentalMushrooms I liked the Nmap idea. Maybe the concept could be appended to the webcrawler.

Actually the webcrawler is already programmed to grab all ips, bank info and bitcoin info.

[2017-02-26 17:33] MentalMushrooms commented on #8
@fkapitalism Sure.
Although this will be annoying...

[2017-02-26 17:34] MentalMushrooms commented on #9
Alright.

[2017-02-26 17:35] MentalMushrooms commented on #10
@fkapitalism Can you give me an EXTREMELY In-Depth tutorial into how the WebCrawler works?
I'm still a bit iffy about it.

[2017-02-26 17:35] #9 closed

[2017-02-26 17:41] MentalMushrooms commented on #6
@fkapitalism Can it be used in assistance with HexBot like...
Hexbot = Hey HExperience
HExperience = Hi Hexbot
Hexbot = Can I take a look at the IP Data you have collected for me?
HExperience = Sure thing man!
Hexbot = Omg, that's alot of IP's! I'm going to contact my user and see what he wants to do with it!
Hexbot Options = 1 : Upload Virus ( Virus name and software thing ) 2 : Check for better

[2017-02-26 17:48] MentalMushrooms opened #11 "New Feature??"
**_New Feature??_**

New Feature - Scan for better software

This can be used as another section of the WebCrawler I guess...

It goes to one IP, See's if it has better software than the user currently has. If it does, download it delete logs and so forth.

So...
Sequence Time

User Selects what software to upgrade and search for eg Cracker
His current cracker is 1.2
The user selects IP to search

[2017-02-26 17:52] fkapitalism commented on #10
@MentalMushrooms Hahaha. Ok. Actually I'm going to create a wiki to share knowledges about HE and the Bot. I'll try to deploy that today.

[2017-02-26 17:55] fkapitalism commented on #11
Nice. It would be a great feature for the webcrawler. BTW have you tested "Solve puzzle" button? It kinda do that. It goes through the puzzle servers and it auto improves the user cracker.

[2017-02-26 17:57] MentalMushrooms commented on #11
I thought It just solved the puzzles. Delete the feature from the solve puzzle box, because its only meant for solving puzzles. e.e

[2017-02-26 17:57] MentalMushrooms commented on #10
Thanks!

[2017-02-26 18:04] fkapitalism commented on #6
LOL. Dialogs between scripts are funny.
I was testing the hexbot and hexperience script together. But they kinda didn't get along one another.
The whole thing gets messy when they decide to clean logs at the same time.

[2017-02-26 18:15] MentalMushrooms commented on #6
Ahh okay.

[2017-02-26 18:15] #6 closed

[2017-02-26 20:15] MentalMushrooms commented on #8
@fkapitalism You could maybe do it like this if you can

**_VERY BASIC CODING INCOMING_**

if any files on software = true,
check all files for specified file
if any files on software = false,
check on software page for specified file
if specified file not existing
otherwise, report "File not Found"

or

if any files on software = true,
check all files for specified file
if the file specified not

[2017-02-26 20:49] MentalMushrooms commented on #7
@fkapitalism Thanks for the bot button fix
:3

[2017-02-26 21:46] fkapitalism commented on #7
Ok. Suggestion deployed. Check it out, please.

[2017-02-26 21:47] fkapitalism commented on #10
I've just created a wiki. I'm not going to create that tutoral now. But you can write something there. ;)

[2017-02-26 21:49] fkapitalism commented on #8
LOL. I'll consider that! Thx

[2017-02-26 21:51] MentalMushrooms commented on #7
Works nicely, mind working in the wiki a bit more? Ill create a user and you can give me permissions to edit it.

[2017-02-26 21:53] MentalMushrooms commented on #8
Not a chance, idk how to code. I just learnt the if language from learning from somebody else doing it.
Do you mind teaching me how to code in jspaghetti? I'd be happy to help, I have quite a bit of free time.

[2017-02-26 21:53] fkapitalism commented on #7
Everyone can edit it. Feel free to put things in order there. ;)

[2017-02-26 21:54] MentalMushrooms commented on #10
I dont have an account there yet, ill create it now

[2017-02-26 22:06] fkapitalism commented on #8
@MentalMushrooms No. I can teach you for sure. You could create a new module. What do you think?

[2017-02-26 22:08] MentalMushrooms commented on #8
Just give me a butt load of info on everything like jspaghetti and modules, I joined github whenever hexbot was created and im still confused asf to what it can do, so far all I can do is reply and make issues/comment lol

[2017-02-26 22:10] MentalMushrooms commented on #8
Also give me maybe a few yt vids on making edits to sites on 000webhost.com and yt vids on jspaghetti, it would help me out alot more.

[2017-02-26 22:18] MentalMushrooms commented on #8
Youtube doesnt hold shit for jspaghetti,
I guess its manual teaching from now on lol

[2017-02-26 22:25] fkapitalism commented on #8
That manual doesn't tell us everything the API can do, but it's a good start.

As soon as I know this API was created primarily to write the HExBot. It's not too popular.

000webhost is a web hosting where you can create servers. You just need create an account and get some app code to host there. For instance, the wiki I've just created, is a app called DokuWiki.

[2017-02-26 22:30] MentalMushrooms commented on #8
Can you teach me in a new issue I will make called coding and it will be open? We dont need to talk here

[2017-02-26 22:30] #8 closed

[2017-02-26 22:30] MentalMushrooms opened #12 "Coding"
Teach me everything you know

[2017-02-26 22:31] fkapitalism commented on #12
LOL

[2017-02-26 22:32] fkapitalism commented on #12
Lets make a new module on hexbot

[2017-02-26 22:33] fkapitalism commented on #12
This module will show a message always you open the mission tab. Are you ready? lol

[2017-02-26 22:36] #11 closed

[2017-02-26 22:36] MentalMushrooms commented on #12
Im on ipad so if im slow and make typo's thats just me
And yus im redy

[2017-02-26 22:36] #10 closed

[2017-02-26 22:37] #7 closed

[2017-02-26 22:38] MentalMushrooms commented on #12
Wait crap...

If im on a tablet/android device... I cant get hexbot...

[2017-02-26 22:39] fkapitalism commented on #12
LOL

[2017-02-26 22:40] MentalMushrooms commented on #12
What time are you online at usually?

Switch it to GMT 0 time so that I dont have to convert.

If this sort of works on a tablet, the coding bit, you can explain it to me with screenshots on whats actually happening with the bot right?

[2017-02-26 22:42] MentalMushrooms commented on #12
If you dont have a screenshot making software, download lightshot and use it, i'll view the images to follow along @fkapitalism

[2017-02-26 22:42] MentalMushrooms commented on #12
Assuming you are on a PC

[2017-02-26 22:46] fkapitalism commented on #12
Well. Usually I'm online from 1am to 11pm.
Hey my computer has the print screen button. hahaha

[2017-02-26 22:47] fkapitalism commented on #12
If you are at Ipad you couldn't be able to code. :/

[2017-02-26 22:48] MentalMushrooms commented on #12
I sort of can, inside github that is.

If ipad no work, we can do it tommorow 3PM+ GMT

[2017-02-26 22:48] MentalMushrooms commented on #12
When im on my pc

[2017-02-26 22:50] MentalMushrooms commented on #12
What is your time-zone?

[2017-02-26 22:50] MentalMushrooms commented on #12
Nvm, a better question is, what time is it right now for you? ( 24 plz )

[2017-02-26 22:54] fkapitalism commented on #12
Here is UTC-03:00

[2017-02-26 22:54] fkapitalism commented on #12
It's about 8pm

[2017-02-26 22:55] MentalMushrooms commented on #12
Check pull requests

[2017-02-26 22:58] MentalMushrooms commented on #12
So you are 3 hours behind me in terms of time meaning that by the time I get on my pc at 15:00, you should already be online at 12:00 Noon or whatever it is.

[2017-02-26 22:58] MentalMushrooms commented on #12
So we can work on the project for a max of 6 Hours

[2017-02-26 23:00] MentalMushrooms commented on #12
@fkapitalism I can edit the code by sending a pull request but thats all I can do in the ipad. So your going to have to give me a bunch of insight into whats happening with the bot.

[2017-02-26 23:01] fkapitalism commented on #12
LOL. What did you pull request me? Why don't you check out that problem on missions sequence where the bank is not closing? It's a good start.

[2017-02-26 23:02] MentalMushrooms commented on #12
Because Idk how to code lol, I dont even know what half of it is in the first place

[2017-02-26 23:02] MentalMushrooms commented on #12
Ill try my best to search for it. But even finding the code is going to be hard asf because idk where it is...

[2017-02-26 23:04] fkapitalism commented on #12
LOL. You'll learn soon. What if we wait until you get you pc, tomorrow?

[2017-02-26 23:05] MentalMushrooms commented on #12
Thats fine.
Just be sure to be on your pc at 12:00 for your time mkay?

[2017-02-26 23:06] fkapitalism commented on #12
Ok. I'll be here. Cya

[2017-02-26 23:07] MentalMushrooms commented on #12
I think i messed up the time calculation, lemme refigure this all out lol

[2017-02-26 23:10] MentalMushrooms commented on #12
@fkapitalism What exact time is it for you right now?

[2017-02-26 23:12] fkapitalism commented on #12
It's 8:12pm here right know

[2017-02-26 23:13] MentalMushrooms commented on #12
Yeah yiu are 3 hrs behind me

[2017-02-26 23:15] MentalMushrooms commented on #12
Make sure to be on your computer at 12 AM. I'll be online then and ready to be taught some coding lessons. And in the process,  I might edit a bit of the wiki.

I'll reopen this whenever im online.

For now, bye.

[2017-02-26 23:17] MentalMushrooms commented on #12
In the meantime, take a look at the bank mission code but dont make changes to it. I want to see exactly whats wrong and how to fix it.

[2017-02-26 23:18] fkapitalism commented on #12
Ok. I'll do it.

[2017-02-26 23:18] MentalMushrooms commented on #12
Bye for now

[2017-02-27 03:41] Hobolandjacob commented on #12
lol doesn't know how to code FEELSBADMAN go learn basic html then js

[2017-02-27 08:08] MentalMushrooms commented on #12
I'll be on my pc in 7 hours from now.

[2017-02-27 08:09] MentalMushrooms commented on #12
Bye for now

[2017-02-27 13:48] MentalMushrooms commented on #12
@fkapitalism I'll be on my PC in 1 hr 30 mins from now

[2017-02-27 15:01] fkapitalism commented on #12
@MentalMushrooms Yeah. Ok

[2017-02-27 15:32] fkapitalism commented on #12
@MentalMushrooms Are you there?

[2017-02-27 15:34] MentalMushrooms commented on #12
I'm here, its just I'm on my phone now, need to get Iron Supplements, I never eat meat that often e.e

[2017-02-27 15:35] MentalMushrooms commented on #12
Will be on PC maybe 10 mins

[2017-02-27 15:51] fkapitalism commented on #12
@MentalMushrooms I have to leave. I'm sorry. Can we talk tonight? Cya

[2017-02-27 16:02] MentalMushrooms commented on #12
Sure but when tonight In your time?

[2017-02-27 19:36] MentalMushrooms commented on #12
@fkapitalism

[2017-02-27 21:12] MentalMushrooms commented on #12
Cant be online now, gtg to sleep.
Bye

[2017-03-01 09:30] fkapitalism commented on #12
@MentalMushrooms  I've deployed a new version. I bet you'll love it. You can learn programming using this new feature. ;)

[2017-03-01 16:02] MentalMushrooms commented on #12
Omg.

Wow.

How do I even begin?

This is amazing...

I need to learn all this damn coding lmao

Good Job

You have outdone yourself tremendously on the wiki and in the bot itself.

I'm going to become one of the "Scripters" On that "Credits" Tab in the bot, I'm telling you...

[2017-03-01 16:03] MentalMushrooms commented on #12
Now I'm going to study all of that code till I figure out how to do it properly, then I'm going to learn coding to make a new module on the bot. ( Hopefully, and I have an idea for a new module. A tab on the bot to bring you back to the bot page, Basically the same as the settings but without having to close and reopen the bot to get back to the main menu screen. )

[2017-03-01 16:04] MentalMushrooms commented on #12
@fkapitalism

[2017-03-01 16:25] RobinKuiper commented on #12
This conversation tho xD

[2017-03-01 16:26] MentalMushrooms commented on #12
Lol

[2017-03-01 16:27] MentalMushrooms commented on #12
@fkapitalism You have to teach me in which order to put code in because I'm worried if i get the code in the wrong order e.e

[2017-03-01 16:28] robin00hood commented on #12
Lawl

[2017-03-01 17:23] fkapitalism commented on #12
@MentalMushrooms Don't worry about that. The code is kinda unbreakable. I mean, there is a sandbox to handle the code input. If something goes wrong it'll appear at debug field (the red one). Just keep trying to understand how the whole thing works. It's very easy actually.

[2017-03-01 17:26] MentalMushrooms commented on #12
alright

[2017-03-02 21:19] Optimusprimeagario opened #14 "JavaScript"
Hi, I know JavaScript (a bit), I started it year ago and I would like to work with you. You don't have to pay me. I just want some coding experience ;), and you could make a script with Node (server-side) which uses proxies and makes new accounts and sends the BTC to the user.

BTW I am 14.

[2017-03-02 22:14] fkapitalism commented on #14
Absolutely. You may work with us. Fork and pull request if you improve something. The thing about Node this project isn't about it but why don't you try to do something?

[2017-03-02 23:51] Optimusprimeagario commented on #14
Only thing that is separating for me to make a Node script is Google Recaptcha. I don't have that good skills to beat google's recaptcha xD

[2017-03-03 00:44] fkapitalism commented on #14
Actually it's kinda impossible currently. Always someone breaks this recaptcha, google make things even harder.

[2017-03-03 00:58] Optimusprimeagario commented on #14
I made a KeyCode and Cloudflare Error  script if you want to implement it in the script:  http://pastebin.com/raw/P99udayk

[2017-03-03 04:26] Hobolandjacob commented on #14
lol there is no bypass for googles recaptcha which is why there are people being paid all day long to enter captchas for you.

[2017-03-03 18:53] Optimusprimeagario commented on #14
did i say there is?

[2017-03-03 21:14] #12 closed

[2017-03-04 11:34] MentalMushrooms commented on #3
@Sensaze Please close this thread if you are not using it. :)

[2017-03-04 22:50] MentalMushrooms opened #15 "Fkapitalism Only"
https://discord.gg/mt7YS2p

Anyone else apart from fkapitalism will be banned from the server.

[2017-03-04 23:07] MentalMushrooms commented on #15
Also, fkapitalism, if you do join the server, please read all text starting from the top-down and state discord name. If possible, show a screenshot showing me that it is you.

[2017-03-05 00:37] fkapitalism commented on #15
Sure. Just me?
No problem

[2017-03-05 00:42] MentalMushrooms commented on #15
Join the server.

[2017-03-05 00:42] MentalMushrooms commented on #15
And read.

[2017-03-05 20:19] #15 closed

[2017-03-05 21:23] MentalMushrooms opened #16 "WebCrawler"
**_WebCrawler_**

Now, it's been working fine till I noticed this.

My Custom Code ( For DDoS ) :

if(target.internet >= Mbits(24)){ //It checks if the target server has at least 24 Mbits of internet speed
  upload("*.vddos")
  seconds_limit(60)
} else
if(target.softwares("*").has("*.av") == false){ //It checks if the target server has an antivirus
  upload("*.vddos")
  seconds_limit(60)
}

And in

[2017-03-06 00:26] fkapitalism commented on #16
Hi Mushy. By default the webcrawler will install and upload.
If you just need to upload and nothing more use:
`
upload("software_name", "")
`
If you just need to install without hidding use:
`
upload("software_name", "install")
`

If you need to both install and hide, do not use the second parameter or use:
`
upload("software_name", "install & hide")
`

[2017-03-06 00:30] fkapitalism commented on #16
Actually I'm going to change the default param. I think it's better the bot just upload without installing or hiding unless if explicitly defined.

[2017-03-06 00:32] MentalMushrooms commented on #16
Okay. Will switch back to Custom Webcrawler tommorow. Thanks. Also check the discord server please.

[2017-03-06 19:05] iiCarelessness opened #17 "Can't change bank to crawl"
The only one listed is First International.

Doesn't let me type in another, either.
I also have Ultimate Bank, HEBC, etc, but they don't show up in the list.

[2017-03-06 19:32] fkapitalism commented on #17
Have you created an account on these others banks?
It's working fine to me tho

[2017-03-06 20:08] iiCarelessness commented on #17
Damn, that was it, thank you.

I can't believe I didn't think of that.

[2017-03-06 20:13] #17 closed

[2017-03-07 00:07] iiCarelessness opened #18 "Suggestion: Research"
Would you be able to add a feature to upgrade stuff?

Once it's upgraded, complete the task, clear logs?

That'd be awesome.

[2017-03-07 16:14] MentalMushrooms commented on #18
Unfortunately, Captcha is a big bitch to Hexbot right now

And i've had this conversation before with the old hexbot mods, and they still cant make it happen.

So in other words, this is impossible right now.

[2017-03-08 15:04] Hobolandjacob opened #19 "Suggestion"
A button so you can run a sequence to collect money from HDB then transfer money to btc account

[2017-03-09 20:48] Optimusprimeagario commented on #19
eh not so useful

[2017-03-09 21:42] iiCarelessness opened #20 "Suggestion: Order software versions in numerical order."
When you webcrawl, you're left with a huge mess of software, versions and IP's, and they're all jumbled.

Is this possible to do, or?

[2017-03-10 03:54] fkapitalism commented on #20
Sure. There is field below the area containing the webcrawler results. You can use [regular expressions](https://en.wikipedia.org/wiki/Regular_expression) to filter the content.

[2017-03-10 17:38] #3 closed

[2017-03-10 17:38] #1 closed

[2017-03-10 17:39] #2 closed

[2017-03-10 17:39] #14 closed

[2017-03-10 17:39] #16 closed

[2017-03-10 17:39] #18 closed

[2017-03-10 21:47] Alpyg opened #21 "Suggestion"
Switch missions type automatically
like, do all hard missions until there are none, then do medium ones and then very easy ones

[2017-03-12 17:30] iiCarelessness commented on #21
Would be nice if you could include easy missions as well as very easy.

[2017-03-14 20:13] Hobolandjacob commented on #19
@Optimusprimeagario no but time-saving on a lazy person's behalf do not forget what this bot was intended to do, Automate HE

[2017-03-18 15:40] MentalMushrooms commented on #21
Too much hassle and logs would trace you back everywhere.

[2017-03-19 00:42] Alpyg opened #22 "Suggestion"
In transfer missions, make it hack the receiving account too, instead of just sending that ~$5 to it only :3

i managed to make it send just $1 instead of that calculation you made there, but i'm not good enough to add the feature i mentioned above

[2017-03-22 21:57] Hobolandjacob opened #23 "Just when you think you found a good bot"
Nice backdoors man such a shame thought you were better.

[2017-03-23 00:23] fkapitalism commented on #23
Please, read this:
https://hexbotwiki.000webhostapp.com/doku.php?id=stats

Anyway if you do not want to send stats checkout this fork: https://github.com/notdls/HExBot

[2017-03-24 04:56] ryan0307hk opened #24 "bot gets detected by cloudflare"
when running webcrawler script, cloudflare seems to be able to recognise I was using the bot. The page comes out when I am trying to clear hacked server logs.

[2017-03-26 13:13] MentalMushrooms commented on #22
Well, you know Tesco's. " Every Little Helps! " But in this case, not really. Logs would trace you back and you'd get hacked easily.

[2017-03-26 13:15] MentalMushrooms commented on #24
Will test now and report back.

[2017-03-26 18:03] #23 closed

[2017-03-28 17:32] MentalMushrooms commented on #24
Nope, just HE Servers fking you up. Sorry.

[2017-03-28 17:32] MentalMushrooms commented on #24
Closed.

[2017-03-29 09:06] ryan0307hk opened #25 "custom webcrawler sometimes detects negative free hd space"
was using custom scripts in webcrawler, noticed softwares were not installed even though they were supposed to, and when I went to look into the debug script, I have noticed it says server has negative free HD even though the server had 20GB of free HD space left. I then manually logged onto the server and was successful in installing the virus the bot was supposed to install. here is the debug sc

[2017-03-29 22:43] fkapitalism commented on #25
OMG. I'll try to figure out what is happening. Thanks a lot for the feedback. ;)

[2017-03-29 22:44] fkapitalism commented on #24
@MentalMushrooms solved the issue.

[2017-03-29 22:44] #24 closed

[2017-03-29 22:45] #20 closed

[2017-03-31 14:56] MentalMushrooms commented on #25
That is an interesting concept, would like to try and webcrawl that IP To find out if the same happens for me.

- Mushy

[2017-03-31 15:04] ryan0307hk commented on #25
this doesnt happen to only 1 IP, it happens to many different IPs as well, I was able to find some of my old debug scripts and here they are. These are just a few of the many that I encounter, I found out that this usually happens when there is A LOT of free space, im talking around at least 5GB of free HD, though im not sure if that is the cause. Hopefully these logs will help you guys find the p

[2017-03-31 19:11] MentalMushrooms commented on #25
Please edit your posts and remove the IPS. But I have tried this and it reports the same for me even though I'm uploading a 10mb file.

Interesting discovery,

- Mushy

[2017-03-31 21:22] MentalMushrooms commented on #25
Some Webcrawler Logs

196.16.191.138: {"uploads":[{"pid":"10447760","name":"Kyo.vddos","version":"1.1","size":"10 MB","installed":false,"actions":"install"}],"errors":null,"warnings":[],"target":{"internet":25,"freehd":-87000,"label":"VPC"},"seconds_limit":70,"clean_just_after_upload":false,"clean_disabled":false,"must_leave_signature":false}

196.16.191.138: {"uploads":[{"pid":"10447760","name":"

[2017-03-31 21:51] fkapitalism commented on #25
@ryan0307hk @MentalMushrooms Thank you very much, guys. I guess I'll be able to fix this bug with your info.

[2017-04-01 08:44] MentalMushrooms commented on #25
And @ryan0307hk,  I think your reason of having high HDD Space is quite the reason why  It's not working properly.  I had a victim with 10gb space and 50 mb internet, and the webcrawl didnt upload a virus there. But whenever  I did it manually, it worked.

[2017-04-07 02:03] saikoekos opened #26 "Suggestion"
i think that is a good idea make a module of bot bot that transfer the BC of the accounts that you put in them, i have 48 BC counts and take a lot of time check one by one x)

[2017-04-08 17:15] AssHole12 commented on #26
Hello saikoekos,
theres a problem with your idea, as you know HE uses a shitload of reCaptchas, so the bot would have to solve the reCaptcha.
It would be possible with paying money to people that solve it, but it would be pretty hard, and few users would use it.
For that reason I dont think this will be implemented, but you could try to let the money on your bank accounts and hack the Bank Account

[2017-04-08 20:09] AssHole12 opened #27 "Webcrawler Errors"
`{"uploads":[{"pid":"10517428","name":"Basic Warez.vwarez","version":"1.0","size":"14 MB","installed":false,"actions":"install"}],"errors":null,"warnings":[],"target":{"internet":25,"freehd":933,"label":"VPC"},"seconds_limit":0,"clean_just_after_upload":false,"clean_disabled":true,"must_leave_signature":false}
{"uploads":[{"pid":"10517428","name":"Basic Warez.vwarez","version":"1.0","size":"14 MB"

[2017-04-08 20:09] AssHole12 commented on #27
btw: Guys use this regexp to fix ur webcrawler debug logs, without sharing your ips `: (.*)`

[2017-04-08 23:11] mikkelbfriis opened #29 "Auto login (twitter, fb?)"
I recommend an automated login sequence for FB or Twitter, so that when these are used for an account it's an automated process, when the session gets killed after ~30-60 minutes

[2017-04-08 23:16] dominicusdev commented on #18
Yeah, I remember you @mentalmushrooms it's still a bitch, although, I may have found a solution.

[2017-04-08 23:23] dominicusdev opened #30 "Discord"
Just fixed a tiny Discord, to keep us closer.
https://discord.gg/uSvqf

[2017-04-08 23:24] dominicusdev commented on #29
@gresendesa wonder if you're still around, babe?

[2017-04-09 05:50] BaaBaaBruh opened #31 "Extension defaults to German"
When i installed the extension, I see it in german. How do I fix this?

[2017-04-09 06:05] BaaBaaBruh commented on #31
<img width="563" alt="screen shot 2017-04-08 at 11 04 58 pm" src="https://cloud.githubusercontent.com/assets/20072190/24835207/e2237caa-1caf-11e7-825d-e41b240bcf99.png">

[2017-04-09 06:38] fkapitalism commented on #31
I'll fix it
OMG

[2017-04-09 06:51] BaaBaaBruh commented on #31
k ty

[2017-04-09 07:27] fkapitalism commented on #31
fixed

[2017-04-09 18:52] AssHole12 commented on #31
lol im sorry :O

[2017-04-14 03:35] #31 closed

[2017-04-14 03:48] fkapitalism commented on #27
@AssHole12 Error finally fixed. Please, check out the latest version.

[2017-04-14 03:49] fkapitalism commented on #25
@ryan0307hk @MentalMushrooms Guys, thanks for your feedback. Error finally fixed. Please, check out the latest version.

[2017-04-14 09:47] AssHole12 commented on #29
I can work on, it when you want to. So when ur not logged in anymore, it should log in?

[2017-04-14 10:43] AssHole12 opened #32 "Find IPs"
Hey,
I have found a few (400+) servers, which are used by many many many people to ddos, I want to search all the logs of the servers for new ips so I can get more and more ips :D

Is there a way for it?

[2017-04-14 13:18] AssHole12 commented on #27
@fkapitalism  hm, updated the bot, still got a lot of errors:
`{"uploads":[{"pid":"10571537","name":"Generic DDoS.vddos","version":"1.5","size":"24 MB","installed":false,"actions":"install"}],"errors":null,"warnings":[],"target":{"internet":50,"freehd":3,"label":"VPC"},"seconds_limit":0,"clean_just_after_upload":false,"clean_disabled":true,"must_leave_signature":false}
{"uploads":[{"pid":"10571537

[2017-04-14 14:47] fkapitalism commented on #32
Yeah. Have you tried to webcrawler them?

[2017-04-19 14:15] dominicusdev commented on #29
Yeah

[2017-04-30 13:56] #30 closed

[2017-05-05 07:44] MentalMushrooms commented on #25
Fixed Issue, Closed.

[2017-05-05 07:45] MentalMushrooms commented on #19
Maybe could be implemented, might be slow and get you traced a lot, if fkapitalism likes this idea, he will reply.

Otherwise, Closed.

[2017-05-05 07:46] MentalMushrooms commented on #21
Closed

[2017-06-11 03:25] potatogamer1230 opened #33 "Suggestion"
I don't know if this is planned or not but will there be a way to do the easy missions?

[2017-06-13 09:49] neverdie11 opened #34 "Suggestion implementation of procedure to pause/wait random time intervals"
worked on the webcrawler and implemented a procedure to wait random times before switching to certain pages during crawling, to make crawler behaviour look more human.

the pauses can be called in the sequence. i think this is better than to use {wait:x}.

this can easily be used in the other modules, e.g. puzzle solver and mission solver.

[2017-06-13 09:50] neverdie11 commented on #34
[update_01.zip](https://github.com/fkapitalism/HExBot/files/1070968/update_01.zip)

[2017-06-25 15:54] MentalMushrooms commented on #34
@fkapitalism Please read this post, may be useful.

This could help with the bot, great idea.

Maybe this can be toggled as an option for webcrawling.

Such as...

Webcrawler : Mode :

                                Human Mode ( slower but more "stable" )

                                Bot Mode ( Faster but more "noticeable" )

[2017-06-25 15:55] MentalMushrooms commented on #33
It isn't planned because those missions aren't really "Worth it"..

Plus, this would slow down the bot and so fourth.

[2017-06-26 07:20] neverdie11 commented on #34
good idea, might work on a (Checkbox Option) if i manage to wrap my head artound it

[2017-06-30 08:50] MentalMushrooms opened #35 "Download Centre"
Maybe not as important since Legacy is ending soon but...

Whenever you try to access and clean download centre, why not just use the download and download username and password?

e.e

[2017-06-30 09:00] MentalMushrooms opened #36 "Upgrade Cracker Problem"
While upgrading a cracker, the bot deletes the previous version, that shouldn't really be happening.

If a person hides your higher cracker, you still have another cracker which is only .1 in version thats lower.

This might not be viable for late game with high level crackers, but for stuff below 7.0, this should probably be toggled on, just in-case.

[2017-07-20 20:02] MentalMushrooms opened #37 "HE1 Is dying, we need to resurface."
Let's face it, HEBorn and HE2 and SH2 Are very soon becoming the most popular hacking games today.

HE1 Is almost meeting it's maker.

HE2 Is right around damn corner,

SH2 Is already out.

If we are to make new bot's for any of these games and keep the original Hexbot alive, we need to be working nonstop.

If you wish to submit any one of the games, please state your reason below. ( We will (Hope

[2017-07-22 21:16] AssHole12 commented on #37
I dont know dude, SH2 is to complicated for me
When you get me to find it exciting, im going to help :D

[2017-07-26 20:18] AssHole12 commented on #37
OK im definitely with you when you make a bot for that!

[2017-07-30 14:26] neverdie11 commented on #37
guess i'm in, need to check out sh2

[2017-08-18 11:36] neverdie11 commented on #37
sh2 doesn't really do it for me, but if you're working on the bot for that, maybe check out the following link.
was looking for a solution to keep the bot running correctly while in background tab, maybe this could be used to achieve it:
https://github.com/turuslan/HackTimer

[2017-10-25 13:50] EnzzoCaaue opened #38 "auto-updater"
there should be an option to evolve our programs.. like, .av or .crc..

[2017-11-01 02:27] saikoekos opened #39 "ips and software information around the network?"
i have a problem, and is that no collect ip and i can't find an option to mark.. i do anything wrong?

[2017-11-01 08:36] #39 closed

[2017-11-13 11:14] mikkelbfriis commented on #37
The fuck is SH2

[2017-12-01 00:02] Hobolandjacob commented on #38
Pretty sure you have to solve captcha to upgrade

[2018-03-28 15:24] Some-Programmer opened #40 "Intercept bank transactions prblem"
The bot doesn't detect "[ip] logged on account \#account_number"

[2018-05-04 12:34] mikkelbfriis commented on #37
What is SH2????

[2018-05-21 01:56] fkapitalism commented on #40
Sorry it took me so long to get back to you, I mean, months.
Now, responding to your issue, the interception will happen only if some transfer occurs. It doesn't get simple accesses to accounts.

[2018-05-21 02:04] fkapitalism commented on #36
Yes. I thought this behavior would upset someone sometime. I've made that way to avoid tricky configurations.

[2018-05-21 02:07] fkapitalism commented on #35
I don't worry about that. The program works fine without this trait. It would be more elegant, but it would take too much unnecessary effort.

[2018-05-23 09:15] MentalMushrooms commented on #35
That's fine, good to see you are starting to be active again haha

[2018-05-23 09:15] #35 closed

[2018-05-23 09:15] #36 closed

[2018-05-23 09:18] MentalMushrooms commented on #37
Slavehack 2, similar to HE

[2018-06-16 18:15] Killerboom7173 opened #41 "Suggestion (might have already been made)"
Auto clear logs after installing/uploading/downloading/trash?

[2018-09-06 12:26] lishalzal opened #42 "Auto Research"
I know the game is old, but if you can add the option it will be great and appreciated.

[2018-10-13 17:41] runthis commented on #37
Well to be fair, HE was created based on Slavehack (SH). Slavehack 2 was created by me, and I have not played HE before. So technically HE is still based on SH2. @MentalMushrooms :-)

[2019-01-16 06:03] #29 closed

[2019-03-22 18:37] PajehMasterDev opened #43 "To use with Firefox"
I found a problem while testing this extension in the Mozilla Firefox browser, the API functions of the following files were not implemented in Firefox, I was thinking of fixing them but I do not know if I have the permission of the developers. The following is the API directory:
     HExBot-master / core / libraries / helpers / classes / Storage.js: 14
     HExBot-master / core / libraries / help

[2019-04-01 02:09] gresendesa commented on #43
Nice. Could you make a fork and submmit modifications via Pull request?

[2019-05-20 10:08] rustysbro opened #44 "Suggestion/question"
When your using web crawler is it possible to download and install all software which is better then yours like for the riddle solver does.

[2020-07-30 16:03] Marok2019 opened #45 "port to hacker wars"
Oh hey! I was wondering if this extension could be converted so it'd work with Hacker Wars. It's Hacker Experience but with a new name. Tried to change a few parameters but I don't know JavaScript

(hackerwars.io)

[2020-11-23 05:43] fkapitalism commented on #45
Ok. <3

[2020-11-23 05:43] #45 closed

[2022-03-11 03:39] RunicAce opened #47 "Manifest version outdated"
Manifest version 2 is depreciated and will be completely removed in 2023

[2022-04-21 07:12] TesoMayn opened #48 "Webcrawler issues"
`target.freehd` is returning a negative number

Here's what is returned for "target" on server 1
`{
    "internet": 100,
    "freehd": -18000,
    "label": "NPC"
}`

HDD Usage: 1.68 GB / 50 GB

And on server 2:
`{
    "internet": 100,
    "freehd": -64000,
    "label": "NPC"
}`
1.84 GB / 20 GB

[2022-06-04 02:14] UPDOWNUP-64BIT opened #49 "Auto missions issue"
I dont know if you still update this or not but when you toggle the missions option sometimes it wont login to mission servers and you need to do everything manually until next mission

[2022-11-26 17:05] joesitsolutions opened #50 "Anti-cheat / got banned"
Hi,

Can confirm there is an anti-cheat now on https://hackerwars.io/ and I got banned... for 2 days
![Screen Shot 2022-11-27 at 1 04 19 am](https://user-images.githubusercontent.com/76276233/204100381-ad419eee-57e5-42ca-8f3d-018d05afea77.png)
I left it running easy missions. I think it may be doing them too quickly hence why it got detected maybe